@import "../../../resources/fonts/stylesheet.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #262437;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
main img {
  grid-column: 1/2;
  grid-row: 1;
  width: 100%;
  min-height: 100%;
  max-height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
}
main section {
  grid-column: 2;
  grid-row: 1;
  height: -moz-fit-content;
  height: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1,
main h2 {
  font-family: "Kross Neue Grotesk";
  color: #ffffff;
  text-align: center;
  font-size: 4vmin;
}
main h2 {
  font-size: 1.5vmin;
  font-weight: 400;
  margin-block: 1.5%;
}
main p,
main a, main label {
  font-family: "Kross Neue Grotesk";
  color: #868397;
  text-align: center;
  font-size: 1.5vmin;
  font-weight: 600;
}
main a {
  text-decoration: underline;
  color: #7b6bdf;
}
main a.to-forgot {
  color: #868397;
}
main button > a,
main button {
  color: #ffffff;
  text-decoration: none;
}
main button {
  background-color: #7b6bdf;
  border: none;
  width: 100%;
  height: 4.5vmin;
  font-family: "Kross Neue Grotesk";
  font-size: 1.5vmin;
  font-weight: 600;
  border-radius: 0.5vmin;
  margin-block: 1.5vmin;
  cursor: pointer;
}
main input {
  background-color: #3b3851;
  color: #ffffff;
  border: 1px solid transparent;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  padding: 1.5vmin 1.5vmin 1.5vmin 4vmin;
  border-radius: 0.5vmin;
}
main input:focus {
  border-color: 1px solid #2b2b44;
}
main input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Kross Neue Grotesk";
  font-weight: 400;
  font-size: 1.5vmin;
}
main input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Kross Neue Grotesk";
  font-weight: 400;
  font-size: 1.5vmin;
}

div.otp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.otp input {
  width: 7vmin;
  height: 7vmin;
  font-size: 2vmin;
  text-align: center;
  border-radius: 1vmin;
  padding: 0;
  margin-inline: 1vmin;
}

button.resend-otp {
  background-color: transparent;
  color: #7b6bdf;
  margin: 0;
}

section.containers {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-behavior: smooth;
}
section.containers div.login-container {
  display: flex;
  flex-direction: row;
}
section.containers div.login-container div.login-subcontainer {
  display: flex;
  justify-content: space-between;
}
section.containers div.login-container div.login-subcontainer label {
  display: flex;
}
section.containers div.login-container div.login-subcontainer label input[type=checkbox] {
  width: 5vmin;
  border: transparent;
}
section.containers div.register-container {
  display: flex;
  flex-direction: column;
}
section.containers div.forgot-password-container {
  display: flex;
  flex-direction: column;
}

div.form-container {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.form-container form {
  min-width: 50%;
  max-width: 100%;
}

span.material-symbols-outlined {
  font-size: 2.5vmin;
  padding-left: 1vmin;
  position: relative;
  right: 0;
  color: rgba(255, 255, 255, 0.3);
}

div.register-container span.material-symbols-outlined {
  top: -7%;
}

div.login-container .material-symbols-outlined {
  top: -13%;
}

div.forgot-password-container .material-symbols-outlined {
  top: -20%;
}
div.forgot-password-container div.forgot-change-password .material-symbols-outlined {
  top: -20%;
}/*# sourceMappingURL=login.css.map */