@import "../../../assets/scss/reset.scss";
@import "../../../resources/fonts/stylesheet.css";

body{
  background-color: $primary-color;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100vw;
 
}


aside.side-panel{
  background-color: $secondary-color;
  padding-inline: 2rem;
  color: white;
  
  h1{
    font-family: "Kross Neue Grotesk";
    font-size: 2rem;
    margin-block: 1rem;
  }
  
  h2{
    font-family: "Kross Neue Grotesk";
    font-size: 1.5rem;
    margin-block: 1rem;
  }

  label{
    display: block;
    font-family: "Kross Neue Grotesk Book";
    font-size: 1rem;
    margin-block: 0.5rem;
  }
  select{
    margin-block: 0.5rem;
  }

}

section.booklist-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


div.page {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  li {
    margin-inline: 0.25vmin;
    padding: 0.5vmin;
    border: 1px solid black;
  }
}

div.booklist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
}


div.book {
  display: flex;
  flex-direction: column;
  // margin: 2vmin;

  div.book-cover {
    width: 60%;
    min-height: 25vmin;
    object-fit: cover;
    background-color: blue;
  }
}

div.book::before{
  content: "";
  padding-block: 5%;
}

div.book::after{
  content: "";
  padding-block: 5%;
}