$primary-color: #101010;
$secondary-color: #383838;
$button-text: #000000;
$button-color: #E1B0C2;
$input-color: #FFFFFF;
$text-color: #FFFFFF;
$header: #000000;

@mixin transparent-color($opacity, $color){
    opacity: $opacity;
    background-color: $color;
}

@mixin book-size{
    height: 313px;
    width: 196px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: black;
}


