$primary-color: #101010;
$secondary-color: #383838;
$button-text: #000000;
$button-color: #e1b0c2;
$input-color: #ffffff;
$text-color: #ffffff;
$header: #000000;
$default-font-size: 1.5vmin;


@mixin transparent-color($opacity, $color) {
  opacity: $opacity;
  background-color: $color;
}

@mixin book-size {
  height: 313px;
  width: 196px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: $primary-color;
}
